<div class="layout-box">
  <div class="top-bar">
    <h1>Immigration Tracker</h1>
  </div>
  <!-- header section ends -->

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <h1 class="title is-6 has-text-centered"><img src="code-greater-than-or-equal.png" alt=""> mamaji-codes by <a href="#">Sriram Rajagopalan</a>. </h1>
    <div class="content has-text-centered">
            <p class="is-size-7">&copy; 2022 All rights reserved.</p>
    </div>
  </footer>
</div>


